@font-face {
  font-family: Norse-Bold;
  src: url("assets/Norse-Bold.otf");
}

:root {
  /* COLORS */
  --clr-neutral-100: #e5e7eb;
  --clr-primary: #596d48;
  --clr-primary-hover: #607c48;
  --clr-red: rgb(209, 24, 24);

  /* GAPS */
  --top-padding: 12rem;

  /* SIZES */
  --banner-height: 140px;
  --fs-large: 1.4rem;
  --fs-small: 0.7rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--clr-neutral-100);
  min-height: 100svh;
  display: flex;
  position: relative;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: var(--clr-primary);
  text-decoration: none;
  font-weight: bold;
  &:hover {
    color: var(--clr-primary-hover);
    text-decoration: underline;
  }
}

p {
  max-width: 45ch;
}

h1 {
  align-self: last baseline;
  margin-bottom: 1rem;
}

h2 {
  font-size: (--fs-large);
  font-weight: 500;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  color: white;
  background-color: var(--clr-primary);
  border: none;
  &:hover {
    cursor: pointer;
    background-color: var(--clr-primary-hover);
    transition: 100ms;
  }
}

/* LEFT SIDE ----------------------------------- */

section {
  color: var(--clr-neutral-100);
  position: relative;
  min-height: 100svh;
  max-height: 100svh;
  width: 37vw;
  overflow: hidden;
}

section > div:first-child {
  display: flex;
  justify-content: center;
}

.logo-container {
  background-color: rgba(0, 0, 0, 0.33);
  font-family: Norse-Bold;
  font-size: 3.33rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: var(--banner-height);
  width: 100%;
  top: var(--top-padding);
}

section .logo {
  width: 5rem;
}

section .bg-image {
  display: block;
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

section .photo-credits {
  color: var(--clr-neutral-100);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  font-size: var(--fs-small);
  text-align: center;
  & a {
    color: inherit;
    font-weight: normal;
    text-decoration: underline;
    &:hover {
      color: white;
    }
  }
}

/* RIGHT SIDE ----------------------------------- */

main {
  background-color: var(--clr-neutral-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding-block: 1rem;
}

.copy {
  font-size: var(--fs-large);
  font-weight: 600;
  padding-block: 3rem;
}

.cta {
  background-color: white;
}

form {
  overflow-y: hidden;
}

form .inputs-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem 3rem;
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

.inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  width: min(100%, 600px);
  & input {
    display: block;
    width: min(100%, 28ch);
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    margin-top: 0.15rem;
    border-radius: 0.25rem;
    border: 1px solid var(--clr-neutral-100);
  }
  & label {
    font-size: var(--fs-small);
    font-weight: bold;
    letter-spacing: 0.05rem;
  }
}

label span {
  visibility: hidden;
  font-weight: normal;
  letter-spacing: initial;
  color: var(--clr-red);
}

input:not([type="submit"]) {
  &:focus {
    outline: 1px solid rgb(0, 85, 255);
    box-shadow: 0.1rem 0.2rem 10px rgba(0, 0, 0, 0.2);
  }
}

button[type="submit"] {
  box-shadow: 0.1rem 0.2rem 10px rgba(0, 0, 0, 0.2);
}

input[type="password"][aria-invalid="true"] {
  outline: 1px solid var(--clr-red);
  & + span {
    visibility: visible;
  }
}

.button-container {
  padding-block: 2rem;
}

/* UTILITY --------------------------------------- */

.container {
  padding-inline: 2.5rem;
}

/* MEDIA QUERIES --------------------------------------- */

@media (max-width: 800px) {
  body {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  section {
    max-height: initial;
    position: absolute;
    width: 100vw;
    height: 100%;
  }

  .logo-container {
    position: initial;
    width: min(100%, 500px);
  }

  section .bg-image {
    position: absolute;
    top: 0;
    z-index: -2;
  }

  main {
    z-index: 1;
    width: min(100%, 500px);
    margin-top: var(--banner-height);
    margin-bottom: 3rem;
  }
  .inputs {
    display: flex;
    flex-direction: column;
    & input {
      width: 100%;
    }
  }
  .button-container {
    display: flex;
    justify-content: center;
  }
  p {
    text-align: center;
  }
  .copy {
    padding-block: 1.5rem;
    padding-bottom: 2.5rem;
  }
}
